{
  "env": {
    "production": {
      "presets": [
        [
          "razzle/babel",
          {
            "preset-env": {
              "targets": {
                "esmodules": true
              },
              "modules": false
            }
          }
        ]
      ],
      "plugins": [
        [
          "babel-plugin-styled-components",
          {
            "ssr": true,
            "displayName": false
          }
        ],
        "@loadable/babel-plugin",
        "@babel/plugin-transform-react-jsx"
      ]
    },
    "development": {
      "presets": [
        [
          "razzle/babel",
          {
            "preset-env": {
              "targets": {
                "esmodules": true
              },
              "modules": false
            }
          }
        ]
      ],
      "plugins": [
        [
          "babel-plugin-styled-components",
          {
            "ssr": true,
            "displayName": true
          }
        ],
        "@loadable/babel-plugin",
        "@babel/plugin-transform-react-jsx"
      ]
    }
  }
}
